



body {
    box-sizing: border-box; 
    width: 100vw; 
    height: 100vh; 
    background-color: white; 
    font-size: 12px; 
    padding: 2% 5% 5% 5%; 
    }



main {
    display: flex;
    max-width: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

p {
    font-size: 20px;
}

a {
    color: black;
}

.card {
    display: flex;
    height: auto;
    width: 50%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

h2 {
    color: black;
    font-size: 35px;

}

ul {
    list-style: none;
}

footer {
    padding: 10px;
    color: darkgrey;
}